# SPDX-FileCopyrightText: 2024 Mass Labs
#
# SPDX-License-Identifier: GPL-3.0-or-later

.direnv
.env
broadcast
cache
docs
out
node_modules
result
deploymentAddresses.json
.pre-commit-config.yaml
logs/